{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Blog{% endblock %}

{% block body %}
{{ parent() }}
    	<div class="col-md-12">
             <h1>{{ blog.title }}</h1>
             <div class="col-md-12">
               {% if blog.picture  is not null %}
               <img src="{{ asset('uploads/bloggerfotos/') }}{{ blog.picture }}" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
               {% else %}
               <img src="{{ asset('uploads/bloggerfotos/') }}noimagen.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
               {% endif %}
             </div>

             {% if blog.author  is not null %}
                <em>Autor:{{ blog.author }}</em>
             {% else %}
                <em>Usuario:{{ blog.user.username }}</em>
             {% endif %}
             
                 
             <article><p> {{ blog.text }}  
                 </p></article>
            <div class="col-md-12">
               <a class="btn btn-light pull-right marginBottom10" href="{{ path('editblogger', {id: blog.id}) }}">Edit</a>
               </div>
            
         </div>

    
{% endblock %}
